/* https://css-tricks.com/box-sizing/#aa-universal-box-sizing-with-inheritance */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* variables */
:root,
:host {
	--size-font: 18px;
	--size: 1.3em;
}
@media screen (min-width: 50rem) {
	:root,
	:host {
		--size-font: 21px;
	}
}
@media (prefers-color-scheme: dark) {
	:root,
	r4-app {
		--coclor-text: white;
		--color-background: black;
		--color-link: purple;
	}
}
@media (prefers-color-scheme: light) {
	:root,
	r4-app {
		--color-text: black;
		--color-background: white;
		--color-link: cyan;
	}
}

/* variables applied */
:root,
:host,
r4-app {
	font-size: var(--size-font);
	background-color: var(--color-background);
	color: var(--color-text);
}

/* layout */
body {
	margin: 0;
}
r4-app {
	display: flex;
}
