/* Overwrite variables from r4.css */
:root,
:host {
	/* --size-font: 18px; */
	/* --font-family: segoe ui, system-ui, sans-serif; */
	/* --size: 2em; */
}

/* variables applied */
:root,
:host,
r4-app {
	font-size: var(--size-font);
	background-color: var(--color-background);
	color: var(--color-text);
}

/* layout */

